In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

# import web driver wait
from selenium.webdriver.support.ui import WebDriverWait

#import werbdriver support and expected conditions
from selenium.webdriver.support import expected_conditions as Ec

In [2]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as Ec
from selenium.webdriver.common.by import By

 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [26]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#giving url to webdriver
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [27]:
#Assigning empty list
ranks=[]
name_of_video=[]
artists=[]
upload_date=[]
views_of_video=[]
time.sleep(3)

#scraping the xpath for finding the data regard empty lists
table_data=[]
data=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td")
for i in data:
    if i.text is None :
        table_data.append("-") 
    else:
        table_data.append(i.text)

#fetching the rank of video from table data
rank_of_video=[]     
for i in range(0,len(table_data),6):
    rank_of_video.append(table_data[i])
    time.sleep(4)

#fetching the name of video from table data
for i in range(1,len(table_data),6):         
    name_of_video.append(table_data[i])
    time.sleep(4)
    
#fetching the artist of video from table data
for i in range(2,len(table_data),6):     
    artists.append(table_data[i])
    time.sleep(4)
    
#fetching the upload date of video from table data
for i in range(4,len(table_data),6):     
    upload_date.append(table_data[i])
    time.sleep(4)

#fetching the views of video from table data
for i in range(3,len(table_data),6):      
    views_of_video.append(table_data[i])

In [28]:
#making dataframe of above data
video = pd.DataFrame({})     
video['rank']=rank_of_video[:30]
video['name']= name_of_video[:30]
video['artist']= artists[:30]
video['upload date']= upload_date[:30]
video['views']= views_of_video[:30]
video

,rank,name,artist,upload date,views
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.65
1,2.,"""Despacito""[25]",Luis Fonsi,"January 12, 2017",7.62
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.89
3,4.,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017",5.52
4,5.,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015",5.32
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.63
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.53
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.47
8,9.,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014",4.36
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014",4.29
10,11.,"""Gangnam Style""[36]",Psy,"July 15, 2012",4.25
11,12.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.70
12,13.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.59
13,14.,"""Sorry""[40]",Justin Bieber,"October 22, 2015",3.48
14,15.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.47
15,16.,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.44
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.36
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.35
18,19.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.18
19,20.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.17
20,21.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.17
21,22.,"""Bailando""[48]",Enrique Iglesias,"April 11, 2014",3.12
22,23.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.12
23,24.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.11
24,25.,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.11
25,26.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",3.09
26,27.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",3.01
27,28.,"""Mi Gente""[54]",J Balvin,"June 29, 2017",3.00
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010",2.99
29,30.,"""Hello""[56]",Adele,"October 22, 2015",2.91

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [29]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#giving url to webdriver
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(5)

#pressinng button
fixture_button=driver.find_element_by_xpath('/html/body/footer/div/nav/ul/li[2]/ul/li[1]/a')
fixture_button.click()

In [44]:
#Assigning empty list
match_title=[]
match_series=[]
match_place=[]
match_date=[]
match_time=[]

#finding xpath for the data from web
title=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']//span[2]")
series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']//span[1]")
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
date=driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
time=driver.find_element_by_xpath("//span[@class='fixture__time']")

#fetching data for match titles
for i in title:    
    if i.text is None :
        match_title.append("--") 
    else:
        match_title.append(i.text)
        
#fetching data for match series        
for i in series:
    if i.text is None :
        match_series.append("--") 
    else:
        match_series.append(i.text)

#fetching data for match places        
for i in place:
    if i.text is None :
        match_place.append("--") 
    else:
        match_place.append(i.text)
        
#fetching data for match date        
for i in date:
    if i.text is None :
        match_date.append("--") 
    else:
        match_date.append(i.text.replace('\n',''))

#fetching data for match date        
for i in time:
    if i.text is None :
        match_time.append("--") 
    else:
        match_time.append(i.text)

In [46]:
#making data frame
ODI=pd.DataFrame({})
ODI['match title'] = match_title
ODI['match series'] = match_series
ODI['match place'] = match_place
ODI['match date'] = match_date
ODI

,match title,match series,match place,match date
0,INDIA V NEW ZEALAND 2021,T20I,"Eden Gardens, Kolkata",21NOVEMBER19:00 IST
1,INDIA V NEW ZEALAND 2021,TEST,"Green Park, Kanpur",25NOVEMBER09:30 IST
2,INDIA V NEW ZEALAND 2021,TEST,"Wankhede Stadium, Mumbai",03DECEMBER09:30 IST
3,SOUTH AFRICA V INDIA 2021/2022,TEST,"New Wanderers Stadium, Johannesburg",17DECEMBER13:30 IST
4,SOUTH AFRICA V INDIA 2021/2022,TEST,"Supersport Park, Centurion",26DECEMBER13:30 IST
5,SOUTH AFRICA V INDIA 2021/2022,TEST,"Newlands, Cape Town",03JANUARY13:30 IST
6,SOUTH AFRICA V INDIA 2021/2022,ODI,"Boland Park, Paarl",11JANUARY14:00 IST
7,SOUTH AFRICA V INDIA 2021/2022,ODI,"Newlands, Cape Town",14JANUARY14:00 IST
8,SOUTH AFRICA V INDIA 2021/2022,ODI,"Newlands, Cape Town",16JANUARY14:00 IST
9,SOUTH AFRICA V INDIA 2021/2022,T20I,"Newlands, Cape Town",19JANUARY19:30 IST
10,SOUTH AFRICA V INDIA 2021/2022,T20I,"Newlands, Cape Town",21JANUARY19:30 IST
11,SOUTH AFRICA V INDIA 2021/2022,T20I,"Boland Park, Paarl",23JANUARY19:30 IST
12,SOUTH AFRICA V INDIA 2021/2022,T20I,"Boland Park, Paarl",26JANUARY19:30 IST
13,INDIA V WEST INDIES 2022,ODI,"Narendra Modi Stadium, Ahmedabad",06FEBRUARY
14,INDIA V WEST INDIES 2022,ODI,"Sawai Mansingh Stadium, Jaipur",09FEBRUARY
15,INDIA V WEST INDIES 2022,ODI,"Eden Gardens, Kolkata",12FEBRUARY
16,INDIA V WEST INDIES 2022,T20I,"Barabati Stadium, Cuttack",15FEBRUARY
17,INDIA V WEST INDIES 2022,T20I,"ACA-VDCA Stadium, Visakhapatnam",18FEBRUARY
18,INDIA V WEST INDIES 2022,T20I,"Greenfield Stadium, Thiruvananthapuram",20FEBRUARY
19,INDIA V SRI LANKA 2022,TEST,"M.Chinnaswamy Stadium, Bangalore",25FEBRUARY

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

#giving url to webdriver
url=' https://www.guru99.com/'
driver.get(url)
time.sleep(5)

In [15]:
#pressing testing button 
explore_button=driver.find_element_by_xpath("/html/body/div[1]/header/div[2]/div/div/div/div/div/div/div/div[2]/div/div/button/span/span")
explore_button.click()
time.sleep(5)

#pressing python button to explor
dropdown_button=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/nav/div/ul/li[2]/div/button")
dropdown_button.click()
time.sleep(5)

#pressing python button to explor
python_button=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/div/nav/div/ul/li[2]/ul/li[12]/a")
python_button.click()
time.sleep(5)

#pressing tutorial button to explor
tutorial_button=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
tutorial_button.click()

In [16]:
#finding xpath for name
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
    time.sleep(5)
    
#finding xpath for descriptions
description=[]
try:
    descriptions=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
    for i in descriptions[1:]:
        description.append(i.text)
except NoSuchElementException:#handling no such element exception
    description.append('No details available')
    
#making dataframe  
selenium=pd.DataFrame({})
selenium['name'] = name
selenium['description'] =description
selenium

,name,description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [21]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

#giving url to webdriver
url='http://statisticstimes.com/'
driver.get(url)

In [23]:
#giving command to click on dropdown list botton
dropdown_button=driver.find_element_by_xpath("//div[@class='navbar']//div[2]//button")
dropdown_button.click()
time.sleep(2)

dropdown_button=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
dropdown_button.click()
time.sleep(5)

#giving command to click on search botton
search_button=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
search_button.click()

In [24]:
#Assigning empty list
state_rank=[]
state_name=[]
gdsp_2018_19=[]
gsdp_data=[]
gsdp_2019_20=[]
share_2018_19=[]
gdp_2019=[]

#finding xpath for the data from web
rank=driver.find_elements_by_xpath("//td[@class='data1']")
state=driver.find_elements_by_xpath("//td[@class='name']")
gdsp=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
data=driver.find_elements_by_xpath("//td[@class='data']")
#fetching data for rank of the states
for i in rank:
    if i.text is None :
        state_rank.append("-") 
    else:
        state_rank.append(i.text)
        
#fetching data for name of the states
for i in state:
    if i.text is None :
        state_name.append("-") 
    else:
        state_name.append(i.text)
        
#fetching data for gdsp_2018_1019 of the states        
for i in gdsp:
    if i.text is None :
        gdsp_2018_19.append("-") 
    else:
        gdsp_2018_19.append(i.text)
        
#fetching data for gsdp_data of the states        
for i in data:
    if i.text is None :
        gsdp_data.append("-") 
    else:
        gsdp_data.append(i.text)
        
#fetching data for gsdp_2019-20 of the states       
for i in range(0,len(gsdp_data),5):
    gsdp_2019_20.append(gsdp_data[i])
    
#fetching data for shares of the states     
for i in range(1,len(gsdp_data),5):
    share_2018_19.append(gsdp_data[i])
    
#fetching data for gdp 2019 of the states 
for i in range(2,len(gsdp_data),5):
    gdp_2019.append(gsdp_data[i])
    
#making dataframe
india = pd.DataFrame({})
india['rank']= state_rank[:33]
india['name']= state_name[:33]
india['gsdp_2019_20']= gsdp_2019_20[:33]
india['gsdp_2018_19']= gdsp_2018_19[:33]
india['GDP_2019']= gdp_2019[:33]
india['share_2018_19']= share_2018_19[:33]
india

,rank,name,gsdp_2019_20,gsdp_2018_19,GDP_2019,share_2018_19
0,1,Maharashtra,-,"2,632,792",399.921,13.94%
1,2,Tamil Nadu,"1,845,853","1,630,208",247.629,8.63%
2,3,Uttar Pradesh,"1,687,818","1,584,764",240.726,8.39%
3,4,Gujarat,-,"1,502,899",228.290,7.96%
4,5,Karnataka,"1,631,977","1,493,127",226.806,7.91%
5,6,West Bengal,"1,253,832","1,089,898",165.556,5.77%
6,7,Rajasthan,"1,020,989","942,586",143.179,4.99%
7,8,Andhra Pradesh,"972,782","862,957",131.083,4.57%
8,9,Telangana,"969,604","861,031",130.791,4.56%
9,10,Madhya Pradesh,"906,672","809,592",122.977,4.29%
10,11,Kerala,-,"781,653",118.733,4.14%
11,12,Delhi,"856,112","774,870",117.703,4.10%
12,13,Haryana,"831,610","734,163",111.519,3.89%
13,14,Bihar,"611,804","530,363",80.562,2.81%
14,15,Punjab,"574,760","526,376",79.957,2.79%
15,16,Odisha,"521,275","487,805",74.098,2.58%
16,17,Assam,-,"315,881",47.982,1.67%
17,18,Chhattisgarh,"329,180","304,063",46.187,1.61%
18,19,Jharkhand,"328,598","297,204",45.145,1.57%
19,20,Uttarakhand,-,"245,895",37.351,1.30%
20,21,Jammu & Kashmir,-,"155,956",23.690,0.83%
21,22,Himachal Pradesh,"165,472","153,845",23.369,0.81%
22,23,Goa,"80,449","73,170",11.115,0.39%
23,24,Tripura,"55,984","49,845",7.571,0.26%
24,25,Chandigarh,-,"42,114",6.397,0.22%
25,26,Puducherry,"38,253","34,433",5.230,0.18%
26,27,Meghalaya,"36,572","33,481",5.086,0.18%
27,28,Sikkim,"32,496","28,723",4.363,0.15%
28,29,Manipur,"31,790","27,870",4.233,0.15%
29,30,Nagaland,-,"27,283",4.144,0.14%
30,31,Arunachal Pradesh,-,"24,603",3.737,0.13%
31,32,Mizoram,"26,503","22,287",3.385,0.12%
32,33,Andaman & Nicobar Islands,-,-,-,-

we have used index 33 so that we can't get the total column

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [35]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#giving url to webdriver
url='https://github.com/'
driver.get(url)

In [36]:
#finding and pressing options button to explore
options_button=driver.find_element_by_xpath('//button[@class="js-details-target btn-link d-lg-none mt-1 color-fg-inherit"]')
options_button.click()
time.sleep(2)

#finding and pressing options button to explore
explore_button=driver.find_element_by_xpath('//nav[@class="mt-0 px-3 px-lg-0 mb-5 mb-lg-0"]//ul//li[4]//details//summary')
explore_button.click()
time.sleep(3)

#finding and pressing trending button to explore
trending_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
trending_button.click()

In [37]:
#fetching urls
urls= driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a") 
time.sleep(3)
product_urls=[]
for i in urls:
    product_urls.append(i.get_attribute('href'))
    time.sleep(2)
    
#Assigning empty list
repository_titles=[]
product_urls=[]
contributors_count=[]
repository_descriptions=[]
contributors_languages=[]

#finding xpath for the data from web
titles=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
for i in titles:
    if i.text is None :
        repository_titles.append("-") 
    else:
        repository_titles.append(i.text)
        time.sleep(2)
        
#fetching urls
urls= driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a") 
time.sleep(3)
product_urls=[]
for i in urls:
    product_urls.append(i.get_attribute('href'))
    time.sleep(2)
    
#finding the xpath for contribution count       
for i in product_urls:
    driver.get(i)
    try:
        count = driver.find_element_by_xpath("//div[@class='BorderGrid-cell']//h2//span")
        contributors_count.append(count.text)
    except:
        contributors_count.append('-')
        time.sleep(2)
        
#finding the xpath for repository descriptions      
for i in product_urls:
    driver.get(i)
    try:
        descriptions = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        repository_descriptions.append(descriptions.text)
    except:
        repository_descriptions.append('-')
        time.sleep(2)
        
#finding the xpath for repository languages      
contributors_languages=[]
for i in product_urls:
    driver.get(i)
    try:
        languages = driver.find_element_by_xpath("//li[@class='d-inline']")
        contributors_languages.append(languages.text.replace('\n',''))
    except:
        contributors_languages.append('-')
        time.sleep(2)

#making database
github=pd.DataFrame({})     
github['repository titles'] = repository_titles
github['repository descriptions'] = repository_descriptions
github['language'] = contributors_languages
github['contributors count'] = contributors_count
github

,repository titles,repository descriptions,language,contributors count
0,Panshak / arcinvoice,Fullstack open source Invoicing application ma...,JavaScript85.7%,
1,dreamhead / patterns-of-distributed-systems,《Patterns of Distributed Systems》中文版,-,
2,hoppscotch / hoppscotch,👽 Open source API development ecosystem https:...,Vue53.0%,12
3,Chia-Network / chia-blockchain,Chia blockchain python implementation (full no...,Python99.0%,70
4,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",Jupyter Notebook99.4%,
5,microsoft / Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",JavaScript78.5%,
6,medusajs / medusa,The open-source Shopify alternative ⚡️,JavaScript72.3%,
7,bryandlee / animegan2-pytorch,PyTorch implementation of AnimeGANv2,Jupyter Notebook98.6%,4
8,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,Python99.7%,43
9,jwasham / coding-interview-university,A complete computer science study plan to beco...,-,
10,TachibanaYoshino / AnimeGANv2,[Open Source]. The improved version of AnimeGA...,Python99.5%,2
11,Python-World / python-mini-projects,A collection of simple python mini projects to...,Python98.7%,119
12,LSPosed / MagiskOnWSA,Integrate Magisk root and Google Apps (OpenGAp...,-,10
13,ava-labs / avalanchego,Go implementation of an Avalanche node.,Go99.7%,70
14,jackfrued / Python-100-Days,Python - 100天从新手到大师,Python41.8%,
15,freqtrade / freqtrade,"Free, open source crypto trading bot",Python97.5%,47
16,Pierian-Data / Complete-Python-3-Bootcamp,Course Files for Complete Python 3 Bootcamp Co...,Jupyter Notebook100.0%,
17,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,Python98.0%,
18,whittlem / pycryptobot,Python Crypto Bot,Python99.6%,115
19,itdevbooks / pdf,编程电子书，电子书，编程书籍，包括C，C#，Docker，Elasticsearch，Git...,-,
20,cloudflare / production-saas,(WIP) Example SaaS application built in public...,TypeScript98.9%,-
21,davidrmiller / biosim4,Biological evolution simulator,C++92.2%,
22,yaronzz / Tidal-Media-Downloader,Download 'TIDAL' Music On Windows/Linux/MacOs ...,Python99.4%,25
23,TBDev-54566975 / white-paper,-,TeX100.0%,
24,coolsnowwolf / lede,Lean's OpenWrt source,C90.3%,2

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [9]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

#giving url to webdriver
url='https://www.billboard.com/'
driver.get(url)

In [10]:
#finding and pressing options button to explore
explore_button=driver.find_element_by_xpath('//div[@class="lrv-u-flex lrv-u-justify-content-start lrv-u-margin-lr-050@mobile-max"]//button')
explore_button.click()
time.sleep(2)

#finding and pressing trending button to explore
trending_button=driver.find_element_by_xpath('/html/body/div[4]/div[6]/div/div/div/ul/li[1]/h3/button')
trending_button.click()
time.sleep(2)

#finding and pressing hot button to explore
hot_button=driver.find_element_by_xpath('//a[@class="c-link  lrv-a-unstyle-link lrv-u-font-size-18@desktop lrv-u-color-grey:hover u-color-brand-secondary:hover@desktop-max u-padding-a-1@desktop-max lrv-u-padding-tb-025 lrv-u-display-block"]')
hot_button.click()

In [46]:
#Assigning empty list
song_titles=[]
artist_name=[]
last_rank=[]
peak_rank=[]
weeks_on_board=[]

#finding xpath for the data from web
song=driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]//h3')
artist=driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]//span')
rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
ranks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
weeks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

#finding the xpath for song titles
for i in song:
    if i.text is None :
        song_titles.append("-") 
    else:
        song_titles.append(i.text)

#finding the xpath for song titles
for i in artist:
    if i.text is None :
        artist_name.append("-") 
    else:
        artist_name.append(i.text)

artist_naam=[]
for i in range(0,len(artist_name),7):
    artist_naam.append(artist_name[i])
        
#finding the xpath for peak rank of the songs
for i in range(2,len(artist_name),7):
    peak_rank.append(artist_name[i])
        
#scraping the way to find out how much time song listed on board         
for i in range(3,len(artist_name),7):
    weeks_on_board.append(artist_name[i])
        
#making dataframe
songs=pd.DataFrame({})
songs['song name'] = song_titles
songs['artist name'] = artist_naam
songs['peak rank'] = peak_rank
songs['weeks on board'] = weeks_on_board
songs

,song name,artist name,peak rank,weeks on board
0,All Too Well (Taylor's Version),Taylor Swift,1,1
1,Easy On Me,Adele,1,6
2,Stay,The Kid LAROI & Justin Bieber,1,19
3,Industry Baby,Lil Nas X & Jack Harlow,1,17
4,Smokin Out The Window,Silk Sonic (Bruno Mars & Anderson .Paak),5,2
...,...,...,...,...
95,Moth To A Flame,Swedish House Mafia & The Weeknd,27,4
96,'Til You Can't,Cody Johnson,65,6
97,Woman,Doja Cat,62,16
98,Take My Breath,The Weeknd,6,15
99,For Tonight,Giveon,80,7

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [10]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

#giving url to webdriver
url=' https://www.naukri.com/'
driver.get(url)

In [14]:
#iterating the search bar for giving input
search_bar=driver.find_element_by_xpath('//input[@class="sugInp"]')

#giving the key to find tha job
search_bar.send_keys("Data science")

#searching data and pressing button
search_button=driver.find_element_by_xpath('//button[@class="btn"]')
search_button.click()

In [15]:
#scraping the job titles
job_titles=[]
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_titles.append("-") 
    else:
        job_titles.append(i.text)

#scraping the job titles
company_name=[]
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company:
    if i.text is None :
        company_name.append("-") 
    else:
        company_name.append(i.text)
        
#finding xpath for the job locations
locations=[]
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
for i in location:
    if i.text is None :
        locations.append("-") 
    else:
        locations.append(i.text)
#finding xpath for the job skills
skills_required=[]
skills=driver.find_elements_by_xpath("//ul[@class='tags has-description']")
for i in skills:
    if i.text is None :
        skills_required.append("-") 
    else:
        skills_required.append(i.text.replace('\n',''))
        
#making dataframe
job=pd.DataFrame({})
job['designation'] = job_titles
job['company name'] = company_name
job['location'] = locations
job['skills required'] = skills_required
job

,designation,company name,location,skills required
0,Data Science Sr. Analyst,Dell International Services India Private Limited,Bangalore/Bengaluru,IT SkillsPythonData ScienceMachine LearningBig...
1,Lead Business Analyst - Data Science,TEKION,Bangalore/Bengaluru,IT SkillsPythonTestingData ScienceProject Mana...
2,"Senior Advisor, Data Science",Dell International Services India Private Limited,Bangalore/Bengaluru,IT SkillsPythonTestingData ScienceMachine Lear...
3,Data Science,Enterpret,Bangalore/Bengaluru,IT SkillsPythonMachine LearningData ScienceSch...
4,Software Development Engineer III - Data Sciences,Flipkart,Bangalore/Bengaluru,Supply chainData analysisLinuxCodingMySQLMachi...
5,Software Development Engineer II - Data Sciences,Flipkart,Bangalore/Bengaluru,Supply chainData analysisSoftware designSoftwa...
6,Data Science Engineer (MS Azure),Quality Engineering Software Technologies Pvt....,Bangalore/Bengaluru,IT SkillsJavaPythonSoftware DevelopmentData an...
7,Data Science - Analyst / Sr. Analyst,BLUCOGNITION PRIVATE LIMITED,Pune,Data Science
8,Data Science Fresher | Geakminds | Chennai,Geakminds Technologies Private Limited,Chennai,communicationwrittenAzureData ScienceMachine L...
9,Software Engineer (Data Science),Aruba Networks,Bangalore/Bengaluru,WirelessComputer scienceSANMavenGITNoSQLNetwor...
10,Data Science Application Developer,Accenture,Bangalore/Bengaluru,Machine LearningR ProgrammingRData scienceC Da...
11,Data Science Application Developer,Accenture,Bangalore/Bengaluru,RData scienceCSLQcommunicationJavaJupyterRedshift
12,Immediate Hiring Data Science- Freshers,Talodyn Networks Private Limited,"Chennai, Bangalore/Bengaluru",Data ScienceData Science/ Python
13,Data Engineer / Data Science - Big Data Engineer,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",IT SkillsPythonData ScienceMachine LearningArt...
14,Software Engineer- Data Science,Evalueserve,"Gurgaon/Gurugram, Bangalore/Bengaluru",Power BITypescriptflasknumpyNode jsPostgreSQLM...
15,Senior Analyst-Data Science,Accenture,Bangalore/Bengaluru,Business administrationAnalystPublishingArchit...
16,Data Science Manager,Xoriant,Pune,Data ScienceApplication DevelopmentProject Man...
17,Customer Value Analytics :Telecom : Data Scien...,CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,Delhi / NCR,Predictive ModelingData ScienceRStatistical Mo...
18,Senior Data Science Specialist,CDM SMITH GLOBAL SERVICES INDIA LLP,"Chennai, Bangalore/Bengaluru",Computer VisionMachine LearningDeep LearningDa...
19,Data Science Engineering,MATPLAT,Hyderabad/Secunderabad,Data sciencecommunicationanalyticalIT SkillsAn...

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [17]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")

#giving url to webdriver
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [18]:
#Assigning empty list
book_name=[]
author_name=[]
volume_sold=[]
publiser_name=[]
book_genre=[]

#finding xpath for the data from web
name=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[2]")
author=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[3]")
volume=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[4]")
publiser=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[5]")
genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[5]")

#finding xparh for finding the name of books
for i in name:
    if i.text is None :
        book_name.append("-") 
    else:
        book_name.append(i.text)
        
#finding xparh for finding the author of books
for i in author:
    if i.text is None :
        author_name.append("-") 
    else:
        author_name.append(i.text)
        
#finding xparh for finding units of books sold
for i in volume:
    if i.text is None :
        volume_sold.append("-") 
    else:
        volume_sold.append(i.text)
        
#finding xparh for finding the name of books publiser
for i in publiser:
    if i.text is None :
        publiser_name.append("-") 
    else:
        publiser_name.append(i.text)
        
#finding xparh for finding the name of book genre
for i in genre:
    if i.text is None :
        book_genre.append("-") 
    else:
        book_genre.append(i.text)
        
#making dataframe
book=pd.DataFrame({})
book['book name'] = book_name
book['author name'] = author_name
book['volume sold'] = volume_sold
book['publiser name'] = publiser_name
book['book genre'] = book_genre
book

,book name,author name,volume sold,publiser name,book genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Random House
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Penguin

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [7]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#giving url to webdriver
url=' https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [8]:
#Assigning empty listseries_name=[]
series_name=[]
year_span=[]
genres=[]
run_time=[]
rating=[]
votes=[]
series_votes=[]

#finding xpath for the data from web
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
genre=driver.find_elements_by_xpath("//span[@class='genre']")
time=driver.find_elements_by_xpath("//span[@class='runtime']")
rate=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]")
vote=driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]")

#finding the name of the series
for i in name:
    if i.text is None :
        series_name.append("-") 
    else:
        series_name.append(i.text)

#finding the year span of the series
for i in year:
    if i.text is None :
        year_span.append("-") 
    else:
        year_span.append(i.text)
        
#finding the genre of the series
for i in genre:
    if i.text is None :
        genres.append("-") 
    else:
        genres.append(i.text)
        
#finding the run time of the series
for i in time:
    if i.text is None :
        run_time.append("-") 
    else:
        run_time.append(i.text)
        
#finding the genre of the series
for i in rate:
    if i.text is None :
        rating.append("-") 
    else:
        rating.append(i.text)
        
#finding the votes of the series
for i in vote:
    if i.text is None :
        votes.append("-") 
    else:
        votes.append(i.text)
        
#fetchin the list of series votes
series_votes=[]      
for i in range(1,len(votes),2):
    series_votes.append(votes[i])
    
#making dataframe
imdb=pd.DataFrame({})
imdb['series name'] = series_name
imdb['year span'] = year_span
imdb['genre'] = genres
imdb['run time'] = run_time
imdb['votes'] = series_votes
imdb

,series name,year span,genre,run time,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,903,095"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"933,518"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"913,257"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"273,386"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"233,748"
...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"46,512"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"57,300"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"180,291"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"37,774"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"213,256"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [20]:
#opening web driver
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#giving url to webdriver
url=' https://archive.ics.uci.edu/ '
driver.get(url)

In [21]:
#using code to go on databases
database_button=driver.find_element_by_xpath('//span[@class="normal"]//b//a')
database_button.click()

In [22]:
#assigning empty lists
dataset_name=[]
data=[]
data_types=[]
attribute_type=[]
no_of_instance=[]
attributes=[]
year=[]


#scraping the repository titles
dataset_name=[]
name=driver.find_elements_by_xpath("//p[@class='normal']//b//a")
for i in name:
    if i.text is None :
        dataset_name.append("-") 
    else:
        dataset_name.append(i.text)
        
#scraping the repository other data
data_s=driver.find_elements_by_xpath("//p[@class='normal']")
for i in data_s:
    if i.text is None :
        data.append("-") 
    else:
        data.append(i.text)
        
#fetching data types of repositery through xpath
for i in range(9,len(data),7):
    data_types.append(data[i])
    
#fetching tasks of repositery through xpath    
task=[]
for i in range(10,len(data),7):
    task.append(data[i])
    
#fetching attribute type of repositery through xpath     
for i in range(11,len(data),7):
    attribute_type.append(data[i])
    
#fetching number of instance of repositery through xpath      
for i in range(12,len(data),7):
    no_of_instance.append(data[i])
    
#fetching attributes lists of repositery through xpath    
for i in range(13,len(data),7):
    attributes.append(data[i])
    
#fetching year of uploading of repositery through xpath    
for i in range(14,len(data),7):
    year.append(data[i])
    
#meking data frame from above data    
ML=pd.DataFrame({})
ML['dataset name'] = dataset_name[:100]
ML['data type'] = data_types[:100]
ML['task'] = task[:100]
ML['attribute type'] = attribute_type[:100]
ML['no of instance'] = no_of_instance[:100]
ML['no of attributes'] = attributes[:100]
ML['year'] = year[:100]
ML

,dataset name,data type,task,attribute type,no of instance,no of attributes,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
95,Statlog Project,,,,,,1992
96,Student Loan Relational,Domain-Theory,,,1000,,1993
97,Teaching Assistant Evaluation,Multivariate,Classification,"Categorical, Integer",151,5,1997
98,Tic-Tac-Toe Endgame,Multivariate,Classification,Categorical,958,9,1991
99,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7200,21,1987